<div class="container mt-5">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">
        typing game challenge
      </h1>
      <p class="has-text-centered mt-4">
        <span *ngFor="let letter of randomText.split('');let i=index;"
              [class]="detectColor(letter, enteredText[i])">{{letter}}</span>
      </p>
      <div class="field mt-4">
        <input type="text" class="input" (input)="onInput($event)">
      </div>
      <div class="box has-text-centered" *ngIf="randomText===enteredText">
        <p class="title">Success!</p>
      </div>
    </div>
  </div>
</div>
